<!DOCTYPE html>
<!--			   
 _       __          __
| |     / /  ___    / /_
| | /| / /  / _ \  / __ \
| |/ |/ /  /  __/ / /_/ /
|__/|__/   \___/ /_.___/
						 
Olá mundo! Bem vindo ao nosso código fonte!
Se quiser trocar idéias é só procurar:
Analista desenvolvedor: Alexandre Cysne Esteves
Divirta-se! :)
-->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/style.css">    
</head>